@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

.font-title{
  font-family: 'Londrina Shadow', cursive;
}
.font-nunito{
  font-family: 'Nunito', sans-serif;
}
.font-prism{
  font-family: 'Tilt Prism', cursive;
}

.stickyHeader{
  position: fixed;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

.w-\[calc\(100\%\-2rem\)\] {
    width: calc(100% - 4rem);
  }

.h-\[calc\(100\%\+20rem\)\] {
    height: calc(100% + 20vh);
}

.h-gradientBoxes{
  height: 85rem;
}

.text-4vw{
  font-size: minmax(100px, 1.5vw);
}

.text-2vw{
  font-size: max(8vw);
}

.text-sizevw{
  font-size: max(2vw);
}

.sizeBvw{
  font-size: max(6.5vw);
}

.github{
  background: url('/assets/socials/github.svg');
  width: 10%;
  height: 10%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.grayish{
  background: #111111;
}

.bg-first{
  background: linear-gradient(rgba(255, 255, 255, 0.034), black 70%);
}

.bg-header{
  background: linear-gradient(black, rgba(255, 255, 255, 0.034));
}

.bg-space{
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.bg-no{
  background: transparent;
}

.w-half{
  width: 50%;
}

.w-findout{
  width: min(16rem);
}

.h-findout{
  height: min(12rem);
}

.h-half{
  height: 50%;
}

.gridwrap{
  grid-template-columns: 1fr 1fr;
}



.size-butWhatAbout{
  font-family:fangsong;
  position:relative;
  letter-spacing:10px;
  font-size: max(6.5vw);
  text-align:center;
}

.p-second{
  padding: 13rem;
}

.glowh2{
  font-family:fangsong;
  position:relative;
  font-size: max(6.5vw);
  letter-spacing:10px;
  color:white;
  text-transform:uppercase;
  width:100%;
  text-align:center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,white);
    line-height:.7em;
  outline:none;
  animation : glow 4s linear infinite alternate-reverse;
}
@keyframes glow {
  0%{
    color:white;
    text-shadow:none;
  }
  100%{
    text-shadow: 0 0 5px white,
      0 0 20px white,
      0 0 40px white,
      0 0 80px white
  }
}

@media (max-width: 1000px) {
  .p-second{
    padding: 1em;
  }
  .gridwrap{
    grid-template-columns: 1fr;
  }
  .text-2vw{
    font-size: min(15vw);
  }
  .w-findout{
    width: min(40%);
  }
  .h-findout{
    height: min(40%);
  }
}
