@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    overflow-x: hidden;
}


*{
    margin: 0;
    padding: 0;
}

.menubutton{
    height: 60px;
    width: 60px;
    background-color: black;
    transition: 0.25s;
    position: fixed;
    left: 90%;
    margin-top: 50px;
    z-index: 1000;
    border-radius: 5px;
}
.menubutton:hover{
    background-color: rgb(71, 92, 150);
}
.menubutton:active{
    background-color: #3D5287;
}

.headerBackgroundContainer{
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
}

.headerBackground{
    position:absolute;
    background: url(https://pbblogassets.s3.amazonaws.com/uploads/2020/06/30055409/shutterstock_10323187-1.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    filter: brightness(75%);
}

.storageSystemTypeBox{
    position: absolute;
    background-color: rgb(247, 135, 43);
    width: 120px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(90deg) translate(370px, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: rgb(192, 77, 23);
    border-width: 5px;
    z-index: 2;
}
.storageSystemType{
    position: absolute;
    font-family: 'Rubik', sans-serif;
    font-size: 18pt;
    color: white;
    filter: brightness(100%);
}

.spaceVid{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spaceCard{
    position: absolute;
    width: 1500;
    height: 500;
    background-color: black;
    z-index: 2;
    border: transparent solid 0px;
    border-radius: 75px;
    overflow: hidden;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.651), 0 0 0 2px rgba(0, 0, 0, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.61);
}
.centerCard{
    position: absolute;
    width: 100%;
    height: 949px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SizeTB{
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 6em;
}
.dropdown-listSize{
    font-size: 1.72em;
    color: white;
    font-family: 'Rubik', sans-serif;
    margin-left: 85%;
    width: 75;
    height: 75;
    background-color: rgba(143, 8, 8, 0.603);
    border: rgb(75, 12, 12) solid 5px;
    border-top: transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.3s;
    z-index: 5;
}
.dropdown-listSize:hover{
    background-color: rgba(143, 8, 8, 0.726); 
}
.dropdown-listSizeButtonContainer{
    margin-left: 75%;
    top: -1005;
    position:absolute;
    z-index: 2;
    width: 300px;
    height: 150px;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
    display: none;
    overflow: hidden;
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    opacity: 0;
}
.showSizeButtons{
    opacity: 1;
    transition: 0.238s;
    transform: translate(0px,1000px);
}
.showSize{
    color: transparent;
    height: 150px;
    width: 300px;
    transform: translate(-140px, 0px);
}
.sizeChangeOptionButton{
    width: calc(33.33% - 20px);
    height: calc(50% - 30px);
    margin: 5px;
    padding: 5px;
    background-color: #080c22;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.sizeChangeOptionButton:hover{
    background-color: #0b1238;
    transition: 0.3s;
}


/* Section 1: Distance, Height, Layer/Individual HHD Capacity Adjustments */

.sectionBackground1 {
    height: 1900px;
    width: 100%;
    background-color: #080c22;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexVerticalDistanceContainer{
    margin-top: 660px;
    width: 1465px;
    height: 1000px;
    border: rgb(75, 12, 12) solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.distanceTitleFlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border:red solid 5px;
    height: 200px;
    width: 1465px;
}
.distanceTitle{
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 7em;
}
.dropdownList{
    transform: translate(30px, 0px);
    z-index: 5;
    color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-size: 5.5em;
    width: 300px;
    height: 130px;
    border:rgba(143, 8, 8, 0.726) solid 5px;
    background-color: rgba(143, 8, 8, 0.603);
    border-radius: 15px;
    transition: 0.2s;
}
.dropdownList:hover{
    background-color: rgba(143, 8, 8, 0.726); 
}
.show{
    color: transparent;
}
.showButtons{
    transform: translate(335px, 8px);
    position:absolute;
    z-index: 12;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
    display: none;
    overflow: hidden;
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    opacity: 1;
    height: 130;
    width: 290;
    transition: 0.3s;
}
.dropdownListButtonContainer{
    transform: translate(335px, 8px);
    position:absolute;
    z-index: 12;
    width: 0px;
    height: 0px;
    overflow-y: auto;
    transition: 0.3s ease-in-out;
    display: none;
    overflow: hidden;
    padding: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    opacity: 0;
}
.changeChangeOptionButton{
    width: calc(33.33% - 20px);
    height: calc(50% - 25px);
    margin: 5px;
    background-color: #080c22;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1em;
}
.changeChangeOptionButton:hover{
    background-color: #0b1238;
    transition: 0.3s;
}
.distanceNumbersFlexContainer{
    display: flex;
    justify-content: space-around;
    border:rgba(143, 8, 8, 0.726) solid 5px;
    height: 400px;
    width: 1465px;
}
.widthCard{
    display: flex;
    border:rgb(75, 12, 12) solid 5px;
    width: 732.5px;
    height: 400px;
}
.lengthCard{
    display: flex;
    border:rgb(75, 12, 12) solid 5px;
    width: 732.5px;
    height: 400px;
}
.AdjustmentsContainer{
    display: flex;
    justify-content: space-around;
    border:rgba(143, 8, 8, 0.726) solid 5px;
    height: 400px;
    width: 1465px;
}
.adjustmentsCard{
    display: flex;
    border:rgb(75, 12, 12) solid 5px;
    width: 732.5px;
    height: 400px;
}
.heightCard{
    display: flex;
    border:rgb(75, 12, 12) solid 5px;
    width: 732.5px;
    height: 400px;
}